
<div style="width: 100.0%; padding-left:0px; height: 75px;width:150px; float: left;color: #FFF;background: #ed1e79;line-height: 90px;border-radius:5px 5px 0px 0px;"><strong><b><%=  %></b></strong></div>