// Place all the styles related to the mylocations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
  font-family: calibri
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}
  .myCheckbox input {
  } 

  .myCheckbox span {
      width: 20px;
      height: 20px;
      display: block;
      
  }

  input[type=checkbox].css-checkbox {
                                position: absolute; 
                              overflow: hidden; 
                              clip: rect(0 0 0 0); 
                              height:1px; 
                              width:1px; 
                              margin:-1px; 
                              padding:0;
                              border:0;
                          }

                          input[type=checkbox].css-checkbox + label.css-label {
                              padding-left:20px;
                              height:15px; 
                              display:inline-block;
                              line-height:15px;
                              background-repeat:no-repeat;
                              background-position: 0 0;
                              font-size:15px;
                              vertical-align:middle;
                              cursor:pointer;
                          }

                          input[type=checkbox].css-checkbox:checked + label.css-label {
                              background-position: 0 -15px;
                          }

                          .css-label{
                              background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
                          }